.error {
    padding-bottom: 10px;
}

button.btn.btn-block.btn-primary.add-btn {
    width: 30%;
}

.hidden{
  display : none;  
}

.show{
  display : block !important;
}

.quantity-unavailable {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #b8daff;
    border-radius: 4px;
    color: #004085 !important;
    background-color: #cce5ff !important;
}

.isCustomer {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #b8daff;
    border-radius: 4px;
    color: #004085 !important;
    background-color: #cce5ff !important;
}
